{
  "$schema": "https://opencode.ai/config.json",
  "lsp": {
    "typescript": {
      "command": ["npx", "-y", "typescript-language-server", "--stdio"],
      "extensions": [".ts", ".tsx", ".mts", ".cts"]
    }
  },
  "mcp": {
    "supabase": {
      "type": "local",
      "command": ["npx", "-y", "@supabase/mcp-server-supabase@latest", "--project-ref=psqmckbtwqphcteymjil"],
      "enabled": true,
      "environment": {
        "SUPABASE_ACCESS_TOKEN": "{env:SUPABASE_ACCESS_TOKEN}"
      }
    },
    "ag-mcp": {
      "type": "local",
      "command": ["npx", "ag-mcp"],
      "enabled": false
    },
    "chrome-devtools": {
      "type": "local",
      "command": ["npx", "chrome-devtools-mcp@latest", "--headless=true"],
      "enabled": false
    },
    "exa": {
      "type": "remote",
      "url": "https://mcp.exa.ai/mcp?exaApiKey={env:EXA_API_KEY}&tools=web_search_exa,web_search_advanced_exa,get_code_context_exa,crawling_exa,company_research_exa,people_search_exa,deep_researcher_start,deep_researcher_check,deep_search_exa",
      "oauth": false,
      "enabled": true
    },
    "notion": {
      "type": "remote",
      "url": "https://mcp.notion.com/mcp",
      "enabled": false
    },
    "playwright": {
      "type": "local",
      "command": ["npx", "@playwright/mcp@latest", "--extension"],
      "enabled": true
    }
  }
}
